<app-nav></app-nav>


<div class="container" style="padding-top:110px;">
<h3 class="text-success">Farklı Departmanlara Ait Müşterilerin Listesi</h3>
<table class="table table-bordered"  id="tblDepartman" style="margin-top:50px;">
    <thead>
        <tr class="text-muted">
            <th>Müşteri Adı</th>
            <th>Müşteri Soyadı</th>
            <th>Departman</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
       
        <tr *ngFor="let m of musteriListesi">
            <td>{{m.musteriAd}}</td>
            <td>{{m.musteriSoyad}}</td>
            <td>{{m.musteriDepartman}}</td>

            <td><a class="btn btn-primary" routerLink="/edit-customer/{{m.musteriId}}"  >Düzenle</a></td>
             <td><a class="btn btn-danger" routerLink="/delete-customer/{{m.musteriId}}">Sil</a></td> 

        </tr>

    </tbody>
</table>
</div>