
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto "style="padding-top:75px;">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h4 class="text-center text-muted "><b>Yeni Müşteri Ekle</b></h4>
               
                <form [formGroup]="FormMusteriEkle"(ngSubmit)="musteriEkle()" class="">

                   

                    <div class="form-group" style="margin-top:40px;">
                        <input class="form-control" type="text" id="musteriAd" formControlName="musteriAd" placeholder="Müşteri Ad">
                        <span class="help-block text-danger" *ngIf="FormMusteriEkle.get('musteriAd').hasError('required') && FormMusteriEkle.get('musteriAd')">Bu alan zorunludur</span>

                    </div> 
                    <div class="form-group" style="margin-top:40px;">
                        <input class="form-control" type="text" id="musteriSoyad" formControlName="musteriSoyad" placeholder="Müşteri Soyad">
                        <span class="help-block text-danger" *ngIf="FormMusteriEkle.get('musteriSoyad').hasError('required') && FormMusteriEkle.get('musteriSoyad')" >Bu alan zorunludur</span>

                    </div>
                    <div class="form-row" style="margin-top:40px;">
                    <div class="form-group col-md-6" col-md-6>
                        <label class="text-muted" >Departman Seçiniz...</label> </div>
                        <div class="form-group col-md-6" col-md-6>
                    <select class="form-control"  formControlName="musteriDepartman">
                    <option  value="A">A</option> 
                    <option  value="B">B</option> 
                    <option  value="C">C</option> 
                    <option  value="D">D</option> 

                  </select>
                  <span class="help-block text-danger" *ngIf="FormMusteriEkle.get('musteriDepartman').hasError('required') && FormMusteriEkle.get('musteriDepartman')">Bu alan zorunludur</span>

                </div>  </div>
                    <!-- <div class="form-group">
                        <input class="form-control" type="text" id="musteriDepartman" formControlName="musteriDepartman"  placeholder="Departman">
                        <span class="help-block" *ngIf="FormMusteriEkle.get('musteriDepartman').hasError('required') && FormMusteriEkle.get('musteriDepartman')">Bu alan zorunludur</span>

                    </div>  -->
                    <button style="margin-top:40px;" type="submit" class="btn btn-lg btn-success btn-block text-uppercase" [disabled]="!FormMusteriEkle.valid"type="submit">Ekle</button>
                    <!-- <h6>{{FormMusteriEkle.value|json}}</h6>
                    <h6>{{FormMusteriEkle.status|json}}</h6> -->

                    <hr class="my-4">
                </form>

            </div>
        </div>
    </div>
</div>