<app-nav></app-nav>


<div class="row" style="padding-top:75px;">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto " >
        <div class="card card-signin my-5">
            <div class="card-body">
                <h4 class="text-center text-muted"><b>Müşteri Bilgileri Düzenle</b></h4>
                  
                <form [formGroup]="FormMusteriDuzenle" (ngSubmit)="musteriDuzenle()" class="">


                    <div class="form-group" style="margin-top:40px;">
                        <input class="form-control" type="text" name="MusteriAd" id="MusteriAd" formControlName="musteriAd"
                            placeholder="Müşteri Ad">
                         <span class="help-block" *ngIf="FormMusteriDuzenle.get('musteriAd').hasError('required') && FormMusteriDuzenle.get('musteriAd')">Bu alan zorunludur</span> 

                    </div>   
                    <div class="form-group" style="margin-top:40px;">
                        <input class="form-control" type="text" name="MusteriSoyad" id="MusteriSoyad" formControlName="musteriSoyad"
                            placeholder="Musteri Soyad">
                         <span class="help-block" *ngIf="FormMusteriDuzenle.get('musteriSoyad').hasError('required') && FormMusteriDuzenle.get('musteriSoyad')">Bu alan zorunludur</span> 

                    </div>  
                    <div class="form-row" style="margin-top:40px;">
                        <div class="form-group col-md-6" col-md-6>
                            <label class="text-muted" >Departman Değiştir...</label> </div>
                            <div class="form-group col-md-6" col-md-6>
                        <select class="form-control"  formControlName="musteriDepartman">
                        <option  value="A">A</option> 
                        <option  value="B">B</option> 
                        <option  value="C">C</option> 
                        <option  value="D">D</option> 
    
                      </select>
                      <span class="help-block" *ngIf="FormMusteriDuzenle.get('musteriDepartman').hasError('required') && FormMusteriDuzenle.get('musteriDepartman')">Bu alan zorunludur</span> 
    
                    </div>  </div>
                    <!-- <div class="form-group" style="margin-top:40px;">
                        <input class="form-control" type="text" name="MusteriDepartman" id="MusteriDepartman" formControlName="musteriDepartman"
                            placeholder="Departman">
                         <span class="help-block" *ngIf="FormMusteriDuzenle.get('musteriDepartman').hasError('required') && FormMusteriDuzenle.get('musteriDepartman')">Bu alan zorunludur</span> 

                    </div>  -->
                    <!-- <div class="form-label-group">
                        <input type="text" name="MusteriSoyad" id="MusteriSoyad" formControlName="musteriSoyad"
                            placeholder="Müşteri Soyad">
                        <span class="help-block"
                            *ngIf="FormMusteriDuzenle.get('MusteriSoyad').hasError('required') && FormMusteriDuzenle.get('MusteriSoyad')">Bu
                            alan zorunludur</span>

                    </div>
                     
                    <div class="form-label-group">
                        <input type="text" name="MusteriDepartman" id="MusteriDepartman"
                            formControlName="musteriDepartman">
                        <span class="help-block"
                            *ngIf="FormMusteriDuzenle.get('MusteriDepartman').hasError('required') && FormMusteriDuzenle.get('MusteriDepartman')">Bu
                            alan zorunludur</span>

                    </div>    -->

                      
                    <button type="submit" style="margin-top:40px;" class="btn btn-lg btn-success btn-block text-uppercase"
                        [disabled]="!FormMusteriDuzenle.valid" type="submit">Guncelle</button>
                    <h6>{{FormMusteriDuzenle.value|json}}</h6>
                    <h6>{{FormMusteriDuzenle.status|json}}</h6>




                </form>
            </div>
        </div>
    </div>
</div>